@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --ff: "Manrope", sans-serif;
  --before-gradient: linear-gradient(180deg, #f6ef30 1%, #f6b130 35%, rgba(199, 89, 50, 1) 100%);
  --bg-gradient: radial-gradient(circle, rgb(35, 35, 59) 0%, rgb(3, 3, 6) 100%);
  --text-main: rgba(255, 255, 255, 0.95);
  --text-muted: rgba(234, 234, 234, 0.93);
  --text-dim: rgba(255, 255, 255, 0.50);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}

#app {
  width: 100vw;
  min-height: 100dvh;
  display: grid;
  place-items: center;
  padding: 2rem;
  background:
    url(../../../../assets/icons/bg-points.png) repeat,
    var(--bg-gradient);
  background-attachment: fixed;
  background-blend-mode: overlay;
  /* background-blend-mode: overlay; */

  color: white;
}

.header,
.main {
  max-width: 1300px;
  width: 100%;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.container-logo {
  width: clamp(13rem, 30vw, 100%);
  max-width: 300px;
}

.logo {
  width: 100%;
}

.container-info-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}

.date,
.quotation-id {
  font-size: clamp(0.9rem, 3.5vw, 2rem);
  color: var(--text-muted);
  text-align: end;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.subtitle {
  padding-bottom: 1rem;
  color: var(--text-main);
}

.container-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card {
  padding: 1.2rem;
  border-radius: 1rem;
  /* background-color: rgb(236, 236, 236); */
  background-color: transparent;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(50px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.card-Empresa {
  grid-column: 1/2;
}

.card-Empresa>.subtitle {
  grid-column: 1/3;
}

.card-Cliente {
  grid-column: 2/3;
}

.card-Condiciones {
  grid-column: 3/5;
}

.items {
  grid-column: 1/4;
  /* outline: 1px dashed black;
  border-radius: 1rem;
  padding: 1rem; */
}

.card-total {
  grid-column: 4/5;
}

.items-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-left: 1rem;
  position: relative;
}

.items-cards:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--before-gradient);
  ;
}

.items-cards> :last-child:nth-child(odd) {
  grid-column: 1 / -1;
}

/* .card-Item {
  border-color: red;
} */

.container-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.row-container {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.272);
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.row-title {
  font-weight: 900;
  color: var(--text-dim);
}

.row-text {
  text-align: end;
  color: var(--text-main);
}

.card-Item .container-info .row-container .row-text {
  text-align: start;
}

.card-Item .container-info .row-container:nth-child(3) {
  flex-direction: column;
}

.card-Item .container-info .row-container:nth-child(6) {
  border-bottom: none;
}

.row-container:last-child {
  border-bottom: none;
}

/* Meida Query */

@media (width <=600px) {
  #app {
    padding: 0.3rem;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .items-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }


}