.profile-logo {
  display: none;
}

.profile-titles-sheet {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: var(--font-size-titles-list);
}

.profile-file {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
}