@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  max-width: 100vw;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  background:
    url(../../../assets/icons/bg-points.png) repeat,
    var(--bg-gradient);
  background-attachment: fixed;
  font-family: var(--ff);
  color: white;
}

.left-container {
  max-width: 300px;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.right-container {
  max-width: 100vw;
  width: 100%;
  padding: 2.7rem 1.5rem;
}

.active {
  display: none
}

.conatiner-profile-icons,
.conatiner-client-icons,
.conatiner-product-icons,
.conatiner-qs-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.conatiner-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.er-container {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px dashed white;
  border-radius: 0.5rem;
  transition: background 0.3s ease;
  padding: 0.1rem auto;
}

.er-container:hover {
  background-color: rgb(206, 202, 202);
  color: white;
}

.ed-icons {
  fill: white;
}

/* .add-client-btn, */
/* .add-product-btn, */
/* .add-quotation-btn, */
.all-btn-add,
.btn-form-client,
.btn-form-product,
.btn-form-profile,
.quotation-btn-submit,
/* .btn-edit-quote-settings, */
.btn-form-quote-settings {
  border: none;
  outline: none;
  cursor: pointer;
  background: white;
  outline: 1px solid black;
  padding: var(--btns-add-padding);
  border-radius: 1rem;
}

.btn-form-client,
.btn-form-product,
.btn-form-profile,
.btn-form-quote-settings {
  margin-top: 1.6rem;
}

@media (width <=800px) {
  #app {
    flex-direction: column;
  }

  .left-container {
    max-width: 100vw;
    width: 100%;
    padding: 0;
  }

  .right-container {
    margin-bottom: 5rem;
    padding-top: 1rem;
  }

  .conatiner-profile-icons,
  .conatiner-client-icons,
  .conatiner-product-icons,
  .conatiner-qs-icons {
    padding: 0.5rem;
    padding-bottom: 0;
    width: 100%;
  }

  .conatiner-icons {
    padding: 0.5rem 0;
  }


  /* .add-client-btn, */
  /* .add-product-btn, */
  /* .add-quotation-btn, */
  .all-btn-add,
  .btn-form-client,
  .btn-form-product,
  .btn-form-profile,
  .quotation-btn-submit,
  /* .btn-edit-quote-settings, */
  .btn-form-quote-settings {
    width: 100%;
  }

  .all-titles-sheet {
    display: none;
  }

  .all-file {
    display: flex;
    flex-direction: column;
    outline: 1px dashed rgb(182, 182, 182);
    padding: 0.5rem;
    border-radius: 1rem;
  }

  span[data-item] {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    align-items: center;
    border-bottom: 1px dashed rgb(182, 182, 182);
    padding: 0.5rem;
  }

  span[data-item]::before {
    content: attr(data-item);
    font-size: var(--font-size-spans);
    letter-spacing: 0.1rem;
  }
}