.sidebar {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container_logo {
  max-width: 100%;
  width: 100%;
}

.logo {
  max-width: 100%;
  width: clamp(10rem, 5vw + 9rem, 20rem);
}

.sidebar-icons {
  fill: white;
  transition: fill 0.3s ease;
}

.interface-container {
  max-width: 100%;
  width: 100%;
  padding: 3.8rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(32, 32, 84, 0.3);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.707);
  border-radius: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  background-color: var(--icons-bg-color);
  border-radius: 1rem;
  backdrop-filter: var(--icons-bd-filter);
  border: var(--icons-border);
  box-shadow: var(--icons-box-shadow);
  transition: var(--icons-transition)
}

.btn-container:hover {
  background: rgb(0, 0, 0);
  border-color: var(--icons-border-color);
}


@media (width <=800px) {

  .sidebar {
    position: relative;
  }

  .container-logo {
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(32, 32, 84, 0.3);
    border-radius: 0 0 1rem 1rem;
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.707);
  }

  .interface-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: fixed;
    padding: 1rem;
    bottom: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(32, 32, 84, 0.3);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.707);
    border-radius: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .btn-container {
    padding: 5px;
  }

  .home-text-btn,
  .profile-text-btn,
  .clients-text-btn,
  .products-text-btn,
  .quotations-text-btn,
  .quote-settings-text-btn {
    display: none;
  }
}