.container_logo {
  max-width: 100%;
  width: 100%;
}

.logo {
  max-width: 100%;
  width: clamp(10rem, 5vw + 9rem, 20rem);
}

.sidebar-icons {
  fill: white;
  transition: fill 0.3s ease;
}

.interface-container {
  max-width: 100%;
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  background-color: rgba(255, 255, 255, 0.121);
  border-radius: 1rem;
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.707);
  transition:
    background-color 0.3s ease,
    backdrop-filter 0.3s ease,
    -webkit-backdrop-filter 0.3s ease;
}

.btn-container:hover {
  background-color: #ffffff;
  color: black;

  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);

  border-color: rgba(255, 255, 255, 0.4);
}

.btn-container:hover .sidebar-icons {
  fill: black;
}


@media (width <=800px) {

  .container-logo {
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(32, 32, 84, 0.3);
    border-radius: 0 0 1rem 1rem;
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.707);
  }

  .interface-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: fixed;
    padding: 1rem;
    bottom: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(32, 32, 84, 0.3);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.707);
    border-radius: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .btn-container {
    padding: 5px;
  }

  .home-text-btn,
  .profile-text-btn,
  .clients-text-btn,
  .products-text-btn,
  .quotations-text-btn,
  .quote-settings-text-btn {
    display: none;
  }
}