.list-container-quotations {
  display: flex;
  flex-direction: column;
  gap: clamp(0.7rem, 2vw + 0.5rem, 1rem);
}

.quotations-titles-sheet {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: var(--font-size-titles-list);
}

.quotation-file {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 1fr);
}

.quotation-view-btn {
  cursor: pointer;
  border: none;
  outline: none;
  width: 90%;
  background: white;
  outline: 1px dashed black;
  border-radius: 0.5rem;
  padding: 0.4rem 0;
  transition: background 0.3s ease;
}

.quotation-view-btn:hover {
  background-color: rgb(206, 202, 202);
  color: white;

}

.btn-add-product {
  margin-top: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: white;
  outline: 1px solid black;
  padding: var(--btns-add-padding);
  border-radius: 1rem;
}

@media (width <=800px) {

  .list-container-quotations {
    padding-top: 2rem;
  }

  .quotation-view-btn {
    width: 100%;
    margin: 0.8rem 0 0.3rem;
  }

}